*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #fab22e;
}
.wrapper{
    width: 80vmin;
    padding: 50px 40px;
    background-color: #15161a;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 20px 20px 40px 40px rgba(97,63, 0, 0.4);
}
span{
    display: block;
    width: 100%;
    font-size: 100px;
    text-align: center;
}
p{
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    line-height: 35px;
    margin: 35px 0;
}
button{
    display: block;
    background-color: #fab22e;
    border: none;
    padding: 5px;
    font-size: 18px;
    color: #171721;
    font-weight: 600;
    padding: 12px 25px;
    margin: 0 auto;
    cursor: pointer;
}
.fade{
    opacity: 1;
    transition: opacity 1.5s;
}