.correct{
    background-color: whitesmoke;
    font-size: 1.5rem;
    color: black;
}
.wrong{
    background-color: black;
    font-size: 2.5rem;
    color:whitesmoke;
}
.class2{
    margin: 36px;
    border: 2px solid yellow;
}
img{
    height: 100px;
    width: 100px;
}